.tile-footer {
    text-decoration: none;
    color: black
}

.tile-footer:hover {
    text-decoration: none;
    color: black
}

.chat-button .chat-button:focus .chat-button:hover {
    color: white;
}

a {
    color: black;
}

.navbar {
    background-color: #F8CB23;
    color: black;
    border-bottom: solid #340A60 10px;
}

.banner {
    background-color: #F8CB23;
    background-image: url("background.svg");
    background-size: 100px;
    height: 375px;
    position: relative;
    margin-top: 50px;
}

.chatbox {
    height: 100%;
}

#chatbox-inner {
    overflow-y: scroll;
    position: absolute;
    max-height: 300px;
    bottom: -310px;
    width: 100%
}

.chat {
    background-color: white;
    padding: 10px;
    display: inline-block;
    max-width: 80%
}

.suggestion {
    padding: 10px;
    color: #340A60;
    background-color: white;
    border: solid #340A60 2px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.suggestion-wrapper {
    position: absolute;
    bottom: 10px;
    right: 15px;
    left: 15px;
}

.suggestions {
    text-align: center;
}

.chat-wrapper {
    margin: 10px;
}

.chat-thumbnail {
    width: 40px;
}

.chat-footer {
    background-color: #340A60;
}

.chat-button {
    background-color: #47118C;
    color: white;
}

div.user-message {
    text-align: right;
}

.bot-message {
    border-radius: 0 15px 15px 15px;
}

.user-message {
    border-radius: 15px 0 15px 15px;
}

.input-section {
    margin: 10px;
}

.tile {
    width: 170px;
    height: 150px;
    background-color: white;
    position: relative;
    display: inline-block;
    margin: 10px;
}

.tile-text {
    line-height: 7px;
}

.tile-header {
    position: absolute;
    top: 10px;
    left: 10px;
}

.currency {
    color: green;
    text-align: right;
    position: absolute;
    top: 50px;
    right: 5px;
}

.tile-footer {
    border-top: solid grey 1px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -10px;
    padding: 5px;
}

.side {
    height: 100%;
    text-align: center;
    margin-top: 75px;
}

.side-icon {
    display: inline-block;
    margin-top: -30px;
    margin-right: 10px;
}

.side-text {
    display: inline-block;
    line-height: 0px;
}

.side-content {
    margin: 10px 75px;
    font-size: 16px;
}


/* width */

 ::-webkit-scrollbar {
    width: 10px;
    color: #F8CB23;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #F8CB23;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #F8CB23;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #F8CB23;
}